body {
    direction: rtl;
}

body div {
}

body div .myDivs {
    position: absolute;     
}

body div #myDiv {
    right: 200px;
    height: 310px;
    width: 210px;
    background-color: forestgreen;
    transition: width ease 2s;
}

body div #myDiv1 {
    top: 5px;
    right: 205px;
    height: 300px;
    width: 200px;
    background-color: mediumpurple;
    transition: width ease 2s;
}
