body {
    direction: rtl;
}

body div nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body div nav ul li {
}

body div nav ul li a{
    display: inline-block;
    float: right;
    font-family: ;
    font-face:
}
