body {
    direction: rtl;
}

body div nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body div nav ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}

body div nav ul li a{
    text-decoration: none;
    text-align: center;
    color: white;
}

body div nav ul li .a {
    display: inline-block;
    float: right;
    background-color: red;
    width: 120px;
    height: 30px;
    padding-top: 10px;
}

body div nav ul li .a:hover{
    background-color: white;
    color: red;
}


body div nav ul li .a1 {
    display: block;
    background-color: black;
    width: 120px;
    height: 40px;   

}

body div nav ul li .a1:hover{
    background-color: deepskyblue;
}

body div nav ul li #firstA1{
    padding-top: 40px;

}

body div nav ul li #firstA1:hover{
    padding-top: 40px;
    background-color: green;
}